
*
{
    margin:0;
    padding:0
}

body {
}


a{
    text-decoration:none !important;
    color:black!important;
    transition:0.5s;

}

a:hover
{
    cursor:pointer;
    background-color:darkgray;
    transition:0.5s;
}


.btn {
    border-radius: 10px !important;
    background-color: blue !important;
    color: white !important;
    font-size: 1.5em !important;
    padding: 5px 15px !important;
    font-weight: bold !important;
}